body {
  font-family: sans-serif;
  background-color: pink;
  /* background-color: #f5f6f7; */   
  margin: 0;
}

.header{
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  text-align: center;
  border-bottom: 4px solid pink;
}